<div *ngIf="loading" class="loader"></div>
<div class="flex mb-3">
  <div class="w-4/5">
    <h1 class="third text-2xl">Generar factura</h1>
  </div>
  <div class="w-1/5">
  </div>
</div>
<form (ngSubmit)="submit()" [formGroup]="form">
  <mat-progress-bar class="my-2" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  <div class="flex mt-2">
    <div class="w-full px-3">
      <label for="cliente">Clientes</label>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Seleccione</mat-label>
        <mat-select name="cliente" id="cliente" [(ngModel)]="clienteSelect" (selectionChange)="cargaCliente()" [ngModelOptions]="{standalone: true}">
          <mat-option [value]="null">Seleccione</mat-option>
          <mat-option *ngFor="let item of clientes" [value]="item.id">{{item.nombre + " - " + item.documento}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="flex mt-3" *ngIf="cliente">
    <div class="w-2/6  px-3">
      <label for="nombre">Nombre</label>
      <mat-form-field appearance="outline" class="w-100" >
        <input matInput id="nombre" name="nombre"
        type="text"
        [(ngModel)]="cliente.nombre"
        [ngModelOptions]="{standalone: true}"
        [disabled]="true"
        class="form-control"/>
      </mat-form-field>
    </div>
    <div class="w-2/6  px-3">
      <label for="documento">Documento</label>
      <mat-form-field appearance="outline" class="w-100" >
        <input matInput id="documento" name="documento"
        type="text"
        [(ngModel)]="cliente.documento"
        [ngModelOptions]="{standalone: true}"
        [disabled]="true"
        class="form-control"/>
      </mat-form-field>
    </div>
    <div class="w-2/6  px-3">
      <label for="empresa">Empresa</label>
      <mat-form-field appearance="outline" class="w-100" >
        <input matInput id="empresa" name="empresa"
        type="text"
        [(ngModel)]="cliente.empresa"
        [ngModelOptions]="{standalone: true}"
        [disabled]="true"
        class="form-control"/>
      </mat-form-field>
    </div>
  </div>
  <div class="flex mt-3" *ngIf="cliente">
    <div class="w-2/6  px-3">
      <label for="departamento">Departamento</label>
      <mat-form-field appearance="outline" class="w-100" >
        <input matInput id="departamento" name="departamento"
        type="text"
        [(ngModel)]="cliente.departamento"
        [ngModelOptions]="{standalone: true}"
        [disabled]="true"
        class="form-control"/>
      </mat-form-field>
    </div>
    <div class="w-2/6  px-3">
      <label for="telefono">Telefono</label>
      <mat-form-field appearance="outline" class="w-100" >
        <input matInput id="telefono" name="telefono"
        type="text"
        [(ngModel)]="cliente.telefono"
        [ngModelOptions]="{standalone: true}"
        [disabled]="true"
        class="form-control"/>
      </mat-form-field>
    </div>
    <div class="w-2/6  px-3">
      <label for="correo">Correo</label>
      <mat-form-field appearance="outline" class="w-100" >
        <input matInput id="correo" name="correo"
        type="text"
        [(ngModel)]="cliente.correo"
        [ngModelOptions]="{standalone: true}"
        [disabled]="true"
        class="form-control"/>
      </mat-form-field>
    </div>
  </div>
  <div class="flex" *ngIf="cliente">
    <div class="w-4/5">
    </div>
    <div class="w-1/5">
      <div class="w-full px-3">
        <button class="btn btn-primary w-100" (click)="openModalCliente()">Editar información</button>
      </div>
    </div>
  </div>
  <hr class="my-5" *ngIf="cliente">

  <h1 class="third text-2xl" *ngIf="cliente">Datos de facturación</h1>

  <div class="flex mt-3" *ngIf="cliente">
    <div class="w-2/6  px-3">
      <label for="codDepartamento">Departamento</label>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Seleccione</mat-label>
        <mat-select name="codDepartamento" id="codDepartamento" formControlName="codDepartamento" (selectionChange)="cargaMunicipio()">
          <mat-option [value]="null">Seleccione</mat-option>
          <mat-option *ngFor="let item of comboDepartamento" [value]="item?.codigo">{{item?.descripcion}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="w-2/6  px-3">
      <label for="codMunicipio">Municipio</label>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Seleccione</mat-label>
        <mat-select name="codMunicipio" id="codMunicipio" formControlName="codMunicipio" >
          <mat-option [value]="null">Seleccione</mat-option>
          <mat-option *ngFor="let item of comboMunicipio" [value]="item.codigo">{{item.descripcion}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="w-2/6  px-3">
      <label for="descripcion">Descripcion</label>
      <mat-form-field appearance="outline" class="w-100" >
        <input matInput id="descripcion" name="descripcion"
        type="text"
        formControlName="descripcion"
        class="form-control"/>
      </mat-form-field>
    </div>
  </div>
  <hr class="my-5" *ngIf="cliente">

  <h1 class="third text-2xl" *ngIf="cliente">Selecciona los productos</h1>

  <div class="flex mt-5" *ngIf="cliente">
    <div class="w-4/5">
      <label for="categoria">Categoria</label>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Seleccione</mat-label>
        <mat-select name="categoria" id="categoria" [(ngModel)]="categoriaSelect" [ngModelOptions]="{standalone: true}" (selectionChange)="cargaProductos()">
          <mat-option [value]="null">Seleccione</mat-option>
          <mat-option *ngFor="let item of categorias" [value]="item.id">{{item.descripcion}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="w-1/5">
      <div class="w-full px-3">
      <label for="cliente">Tipo</label>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select name="filtro" id="filtro">
            <mat-option [value]="null">Seleccione</mat-option>
            <mat-option *ngFor="let item of tipo" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="mt-7 grid grid-cols-5 gap-3" *ngIf="products">
    <ng-container *ngFor="let item of products">
      <div class="col-span-1">
        <app-product-card [product]="item" (agregarEmit)="agregar($event, item)"></app-product-card>
      </div>
    </ng-container>
  </div>

  <div class="flex mt-3">
    <div class="w-5/6"></div>
    <div class="w-1/6">
      <button class="btn btn-third w-100"  type="submit" *ngIf="this.form.valid && this.productosSelect.length >= 1" [disabled]="!this.form.valid || this.loading"> Generar Factura</button>
    </div>
  </div>

</form>

