<div *ngIf="loading" class="loader"></div>
<form (ngSubmit)="submit()" [formGroup]="form">
  <p-card header="Generar {{tipo}}">
    <div class="formgrid grid mt-2">
      <div class="col-12 md:col-4 field">
        <label for="cliente">Clientes</label>
        <p-dropdown formControlName="clienteId" [options]="clienteSelect" optionLabel="nombre" optionValue="id" styleClass="w-full p-inputtext-sm" placeholder="Seleccione" (onChange)="cargaCliente()"></p-dropdown>
      </div>
    </div>
  </p-card>

  <p-card header="Información del cliente" styleClass="mt-3" *ngIf="cliente">
    <div class="formgrid grid" >
      <div class="field col-12 md:col-4">
        <label htmlFor="nombre">Nombre</label>
        <input id="nombre" name="nombre" type="string" [(ngModel)]="cliente.nombre" [ngModelOptions]="{standalone: true}" [disabled]="true" class="max-w-full p-inputtext-sm w-full" pInputText/>
      </div>
      <div class="field col-12 md:col-4">
        <label htmlFor="documento">Documento</label>
        <input id="documento" name="documento" type="string" [(ngModel)]="cliente.documento" [ngModelOptions]="{standalone: true}" [disabled]="true" class="max-w-full p-inputtext-sm w-full" pInputText/>
      </div>
      <div class="field col-12 md:col-4">
        <label htmlFor="empresa">Empresa</label>
        <input id="empresa" name="empresa" type="string" [(ngModel)]="cliente.empresa" [ngModelOptions]="{standalone: true}" [disabled]="true" class="max-w-full p-inputtext-sm w-full" pInputText/>
      </div>
      <div class="field col-12 md:col-4 lg:col-4">
        <label htmlFor="departamento">Departamento</label>
        <input id="departamento" name="departamento" type="string" [(ngModel)]="cliente.departamento" [ngModelOptions]="{standalone: true}" [disabled]="true" class="max-w-full p-inputtext-sm w-full" pInputText/>
      </div>
      <div class="field col-12 md:col-4 lg:col-4">
        <label htmlFor="telefono">Teléfono</label>
        <input id="telefono" name="telefono" type="string" [(ngModel)]="cliente.telefono" [ngModelOptions]="{standalone: true}" [disabled]="true" class="max-w-full p-inputtext-sm w-full" pInputText/>
      </div>
      <div class="field col-12 md:col-4 lg:col-4">
        <label htmlFor="correo">Correo</label>
        <input id="correo" name="correo" type="string" [(ngModel)]="cliente.telefono" [ngModelOptions]="{standalone: true}" [disabled]="true" class="max-w-full p-inputtext-sm w-full" pInputText/>
      </div>
    </div>
    <div class="flex justify-content-end">
      <p-button type="button" (click)="openModalCliente()" label="Editar información"></p-button>
    </div>
  </p-card>

  <p-card header="Datos de facturación" styleClass="mt-3" *ngIf="cliente">
    <div class="formgrid grid" >
      <div class="field col-12 md:col-4 lg:col-4">
        <label htmlFor="codDepartamento">Departamento</label>
        <p-dropdown placeholder="Seleccione" [options]="comboDepartamento" styleClass="w-full p-inputtext-sm" formControlName="codDepartamento" optionLabel="descripcion" optionValue="codigo" [autoDisplayFirst]="false" [showClear]="true" (ngModelChange)="cargaMunicipio()"></p-dropdown>
      </div>

      <div class="field col-12 md:col-4 lg:col-4">
        <label htmlFor="codMunicipio">Municipio</label>
        <p-dropdown placeholder="Seleccione" [options]="comboMunicipio" styleClass="w-full p-inputtext-sm" formControlName="codMunicipio" optionLabel="descripcion" optionValue="codigo" [autoDisplayFirst]="false" [showClear]="true"></p-dropdown>
      </div>

      <div class="field col-12 md:col-12 lg:col-12">
        <label htmlFor="descripcion">Descripcion</label>
        <textarea rows="5" cols="30" pInputTextarea formControlName="descripcion" class="w-full p-inputtext-sm" ></textarea>
      </div>
    </div>
  </p-card>

  <p-card header="Selecciona los productos" styleClass="mt-3" *ngIf="cliente">
    <div class="formgrid grid">
      <div class="field col-12 md:col-6">
        <label htmlFor="categoria">Categoria</label>
        <p-dropdown placeholder="Seleccione" [options]="categorias"  [(ngModel)]="categoriaSelect" styleClass="w-full p-inputtext-sm" optionLabel="descripcion" optionValue="id" [autoDisplayFirst]="false" [showClear]="true" [ngModelOptions]="{standalone: true}"></p-dropdown>
      </div>
      <div class="field col-12 md:col-4">
        <label  htmlFor="tipo">Tipo</label>
        <p-dropdown placeholder="Seleccione" [options]="tipo" [(ngModel)]="tipoSelect" styleClass="w-full p-inputtext-sm" [autoDisplayFirst]="false" [showClear]="true" [ngModelOptions]="{standalone: true}"></p-dropdown>
      </div>
      <div style="align-self: center;">
        <p-button type="button" label="Buscar" (onClick)="cargaProductos()"></p-button>
      </div>
    </div>

    <div class="mt-3 grid" *ngIf="products">
      <ng-container *ngFor="let item of products">
        <div class="col-2">
          <app-product-card [product]="item" (agregarEmit)="agregar($event, item)"></app-product-card>
        </div>
      </ng-container>
    </div>

  </p-card>


  <p-card header="Listado de productos seleccionados" styleClass="mt-3" *ngIf="this.productosSelect.length >= 1">
    <p-table
      #dt1
      [value]="productosSelect"
      [scrollable]="true"
      [rowHover]="true"
      [paginator]="true"
      [rows]="rowTablePaginator"
      [totalRecords]="dataTotalRecords"
      [rowsPerPageOptions]="[10, 25, 50]"
      scrollHeight="600px"
      scrollWidth="100%"
      >
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of columnsTable" [pSortableColumn]="col.field" >
            {{ col.header }} <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-producto>
        <tr>
          <td>{{ producto.producto }}</td>
          <td>{{ producto.cantidad }}</td>
          <td>{{ producto.precio | currency:'COP':'symbol':'1.0-0':'es-CO'  }}</td>
          <td>{{ producto.precioTotal  | currency:'COP':'symbol':'1.0-0':'es-CO' }}</td>
          <td>
            <p-button label="Eliminar" [link]="true" styleClass="button-link-secondary" icon="pi pi-trash text-1xl"
            (click)="eliminar(producto)"></p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">
            <div class="flex flex-column gap-3 align-items-center justify-content-center py-4">
              <i class="ri-error-warning-line text-4xl"></i>
              <span class="text-lg font-semibold">No hay información para mostrar</span>
              <span>Verifique los filtros aplicados</span>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>

  </p-card>

  <div class="flex justify-content-end mt-3" *ngIf="this.productosSelect.length >= 1">
    <p-button type="submit" [disabled]="!this.form.valid || this.loading" label="Generar"> </p-button>
  </div>

</form>

