<div *ngIf="loading" class="loader"></div>
<div class="flex mb-3">
  <div class="w-4/5">
    <h1 class="bold">Productos</h1>
  </div>
  <div class="w-1/5">
    <button class="btn btn-primary w-100" (click)="openModal()">Nuevo</button>
  </div>
</div>

<form [formGroup]="form" (ngSubmit)="cargaProductos()">
  <div class="flex my-3">
    <div class="w-2/5 px-2">
      <label for="filtro">Filtro</label>
      <mat-form-field appearance="outline" class="w-100" >
        <mat-label>Digite</mat-label>
        <input matInput id="filtro" name="filtro" formControlName="filtro" type="text" placeholder="Digite la categoría" class="form-control" (input)="cargaProductos($event)"/>
        <mat-hint>Busca apartir del 3 carácter</mat-hint>
      </mat-form-field>
    </div>
    <div class="w-2/5 px-2">
      <label for="estado">Estado</label>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Seleccione</mat-label>
        <mat-select name="estado" id="estado" formControlName="estado">
          <mat-option [value]="null">Seleccione</mat-option>
          <mat-option value="ACT">Activo</mat-option>
          <mat-option value="INA">Desactivo</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="w-1/5" style="align-self: center;">
      <button class="btn btn-primary w-100" type="submit">Buscar</button>
    </div>
  </div>
</form>
<mat-progress-bar class="my-2" mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<div class="mt-7 grid grid-cols-5 gap-3" *ngIf="products">
  <ng-container *ngFor="let item of products">
    <div class="col-span-1">
      <app-product-card [product]="item" [swVer]="true" (editarEmit)="openModal($event, item)" (verEmit)="ver($event, item)" (eliminarEmit)="eliminar($event, item)"></app-product-card>
    </div>
  </ng-container>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
