<div *ngIf="loading" class="loader"></div>
<div class="flex mb-3">
  <div class="w-4/5">
    <h1 class="bold">Productos</h1>
  </div>
  <div class="w-1/5">
    <button class="btn btn-primary w-100" (click)="openModal()">Nuevo</button>
  </div>

</div>
<div class="mt-7 grid grid-cols-5 gap-3" *ngIf="products">
  <ng-container *ngFor="let item of products">
    <div class="col-span-1">
      <app-product-card [product]="item" [swVer]="true" (editarEmit)="openModal($event, item)" (verEmit)="ver($event, item)" (eliminarEmit)="eliminar($event, item)"></app-product-card>
    </div>
  </ng-container>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
