<div *ngIf="loading" class="loader"></div>
<div class="flex my-3 justify-content-between">
  <div>
    <h4 class="title-card"> Productos</h4>
  </div>

  <p-button label="Nuevo producto" (click)="openModal()"></p-button>
</div>


<p-card>
  <form [formGroup]="form" (ngSubmit)="cargaProductos()">
    <div class="grid formgrid">
      <div class="field col-12 md:col-4">
        <label htmlFor="filtro">Filtro</label>
        <input pInputText id="filtro" name="filtro" class="w-full p-inputtext-sm" formControlName="filtro" placeholder="Digite la categoría" (input)="cargaProductos($event)"/>
        <small id="filtro-help">Busca apartir del 3 carácter.</small>
      </div>
      <div class="field col-12 md:col-4">
        <label for="estado">Estado</label>
        <p-dropdown formControlName="estado" [options]="estadosSelect" optionLabel="descripcion" styleClass="w-full p-inputtext-sm" placeholder="Seleccione"></p-dropdown>
      </div>
      <div style="align-self: center;">
        <p-button class="w-100" type="submit" label="Buscar"></p-button>
      </div>
    </div>
  </form>
</p-card>

<div class="mt-3 grid" *ngIf="products">
  <ng-container *ngFor="let item of products">
    <div class="col-2">
      <app-product-card [product]="item" [swVer]="true" (editarEmit)="openModal($event, item)" (verEmit)="ver($event, item)" (eliminarEmit)="eliminar($event, item)"></app-product-card>
    </div>
  </ng-container>
</div>
