<div class="flex flex-column lg:flex-row h-screen">
  <!-- Sección Izquierda -->
  <div class="w-full lg:w-6 flex align-items-center justify-content-center p-3">
    <img src="assets/images/logo.png" alt="Logo pequeño" class="absolute top-0 left-0 p-2">
    <img src="assets/images/login.svg" alt="Imagen" class="w-full h-full">
  </div>

  <!-- Sección Derecha -->
  <div class="w-full lg:w-6 bg-secondary flex align-items-center justify-content-center p-3">
    <form class="w-full max-w-30rem p-4">

      <!-- Campo de Nombre de Usuario -->
      <div class="mb-2">
        <p-card header="Iniciar sesión" class="w-full">
          <div class="p-4 card-content formgrid grid">
            <div class="field col-12">
              <label for="username" class="font-medium">Usuario</label>
              <input id="username" type="text" pInputText  class="w-full p-inputtext-sm" />
            </div>

            <div class="field col-12">
              <label for="password" class="font-medium">Contraseña</label>
              <input id="password" type="password" pInputText  class="w-full p-inputtext-sm" />
            </div>
          </div>
          <div class="flex justify-content-end px-4">
            <p-button type="submit" label="Iniciar Sesión" styleClass="bg-third"></p-button>
          </div>
        </p-card>
      </div>
    </form>
  </div>
</div>

