<div class="flex flex-col lg:flex-row h-screen">
  <div class="w-full lg:w-1/2 bg-primary flex items-center justify-center p-8">
    <img src="..//src/assets/images/logo.png" alt="Logo pequeño" class="absolute top-0 left-0 max-w-full max-h-full p-4">
    <img src="..//src/assets/images/login.svg" alt="Imagen" class="max-w-full max-h-full">
  </div>
  <div class="w-full lg:w-1/2 bg-secondary flex items-center justify-center p-8">
    <form class="w-full max-w-md p-4">
      <h2 class="text-5xl mb-8 text-white text-center">Iniciar Sesión</h2>
      <div class="mb-4">
        <mat-form-field appearance="fill" class="w-100" >
          <mat-label>Nombre de usuario</mat-label>
          <input matInput type="text"/>
        </mat-form-field>
      </div>
      <div class="mb-4">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Contraseña</mat-label>
          <input matInput type="text"/>
        </mat-form-field>
      </div>
      <button type="submit" class="w-60 m-auto flex justify-center py-2 px-4 bg-third text-white rounded-m text-2xl" >Iniciar Sesión</button>
    </form>
  </div>
</div>
