.truncado{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  display: block;
}

.mat-column-id {
  width: 10% !important;
}

.mat-column-nit {
  width: 10% !important;
}

.mat-column-nombre {
  width: 10% !important;
}

.mat-column-encargado {
  width: 10% !important;
}

.mat-column-telefono {
  width: 10% !important;
}

.mat-column-correo {
  width: 10% !important;
}

.mat-column-direccion {
  width: 10% !important;
}

.mat-column-departamento {
  width: 10% !important;
}

.mat-column-municipio {
  width: 10% !important;
}

.mat-column-rubros {
  width: 10% !important;
}

.mat-column-estado {
  width: 10% !important;
}

.mat-column-act {
  width: 10% !important;
}

.mat-column-del {
  width: 10% !important;
}
