<div *ngIf="loading" class="loader"></div>
<div class="flex justify-content-between mb-5">
  <h1 class="bold">Proveedores</h1>
  <button pButton label="Nuevo" (click)="openModal()"></button>
</div>

<form [formGroup]="form" (ngSubmit)="cargaProovedores()">
  <div class="grid my-3">
    <div class="col-12 md:col-4 flex flex-column gap-2">
      <label htmlFor="filtro">Filtro</label>
      <input pInputText id="filtro" name="filtro" formControlName="filtro" placeholder="Digite la categoría" (input)="cargaProovedores($event)"/>
      <small id="filtro-help">Busca apartir del 3 carácter.</small>
    </div>
    <div class="col-12 md:col-4 flex flex-column gap-2">
      <label for="estado">Estado</label>
      <p-dropdown formControlName="estado" [options]="estadosSelect" optionLabel="descripcion" styleClass="w-full p-inputtext-sm" placeholder="Seleccione"></p-dropdown>
    </div>
    <div class="w-1/5" style="align-self: center;">
      <button class="btn btn-primary w-100" type="submit">Buscar</button>
    </div>
  </div>
</form>

<p-card header="Listado de proveedores" styleClass="mt-3">
  <p-table
    #dt1
    [value]="proveedores"
    [scrollable]="true"
    [rowHover]="true"
    [paginator]="true"
    [rows]="rowTablePaginator"
    [totalRecords]="dataTotalRecords"
    [rowsPerPageOptions]="[10, 25, 50]"
    [lazy]="true"
    (onLazyLoad)="cargaProovedores($event)"
    scrollHeight="600px"
    scrollWidth="100%"
    >
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of columnsTable" [pSortableColumn]="col.field" >
          {{ col.header }} <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cliente>
      <tr>
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.nit }}</td>
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.encargado }}</td>
        <td>{{ cliente.telefono }}</td>
        <td>{{ cliente.correo }}</td>
        <td>{{ cliente.direccion }}</td>
        <td>{{ cliente.departamento }}</td>
        <td>{{ cliente.municipio }}</td>
        <td>{{ cliente.rubros }}</td>
        <td>
          <span [class]="'table-badge status-' + cliente.estado ? 'ACT' : 'INA'">
            <i class="" [ngClass]="{
              'ri-check-double-fill': cliente.estado == 'ACT',
              'ri-close-circle-line': cliente.estado == 'INA'
              }"></i>
            {{cliente.estado}}
          </span>
        </td>
        <td>
          <p-button label="Editar" [link]="true" styleClass="button-link-secondary" icon="pi pi-pencil text-1xl"
          (click)="openModal(cliente)"></p-button>
        </td>
        <td>
          <p-button label="Eliminar" [link]="true" styleClass="button-link-secondary" icon="pi pi-trash text-1xl"
          (click)="eliminar(cliente)"></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6">
          <div class="flex flex-column gap-3 align-items-center justify-content-center py-4">
            <i class="ri-error-warning-line text-4xl"></i>
            <span class="text-lg font-semibold">No hay información para mostrar</span>
            <span>Verifique los filtros aplicados</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

</p-card>
