<div class="h-full">
  <nav class="bg-secondary">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <img class="h-8 w-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
          </div>
        </div>
        <div class="hidden md:block">
          <div class="ml-4 flex items-center md:ml-6">
            <button type="button" class="relative rounded-full" (click)="onClose(false)">
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">View notifications</span>
              <mat-icon class="text-gray-300 text-2xl inline-block">closed</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="overflow-auto" style="height: 90%;">
    <header class="bg-white">
      <div class="mx-auto max-w-7xl px-4 pb-3 pt-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">Selecciona parametros para {{this.dataTransfer.producto.descripcion}}</h1>
      </div>
    </header>
    <mat-progress-bar class="my-2" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <main>
      <div class="mx-auto max-w-7xl pb-6 sm:px-6 lg:px-8" *ngFor="let par of parametros">
        <div class="flex mt-2" *ngIf="par.swIsEtiqueta == false">
          <div class="w-full px-3">
            <label for="nombre">{{par.descripcion}}</label>
            <mat-form-field appearance="outline" class="w-100" >
              <mat-label for="nombre">{{par.descripcion}}</mat-label>
              <input matInput id="nombre" name="nombre" [(ngModel)]="par.value"
              type="{{par.type}}"
              placeholder="Digite"
              class="form-control"/>
            </mat-form-field>
          </div>
        </div>
        <div class="flex mt-2" *ngIf="par.swIsEtiqueta == true">
          <div class="w-full px-3">
            <label for="categoria">{{par.descripcion}}</label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Seleccione</mat-label>
              <mat-select name="categoria" id="categoria" [(ngModel)]="par.value">
                <mat-option [value]="null">Seleccione</mat-option>
                <mat-option *ngFor="let item of par.etiqueta" [value]="item">{{item}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="flex mt-3">
        <div class="w-5/6"></div>
        <div class="w-1/6">
          <button class="btn btn-third w-100"  type="button"  (click)="submit()"> Agregar</button>
        </div>
      </div>
    </main>
  </div>
</div>

