<div class="overflow-auto" >
  <p-progressBar mode="indeterminate" *ngIf="loading" class="my-2"></p-progressBar>
  <div class="mx-auto max-w-7xl sm:px-4 lg:px-6" *ngFor="let par of parametros">
    <div class="grid formgrid" *ngIf="par.swIsEtiqueta == false">
      <div class="field col-12">
        <label for="nombre">{{par.descripcion}}</label>
        <input pInputText id="nombre" name="nombre" [(ngModel)]="par.value" type="{{par.type}}" placeholder="Digite" class="w-full p-inputtext-sm" />
      </div>
    </div>
    <div class="grid formgrid" *ngIf="par.swIsEtiqueta == true">
      <div class="field col-12">
        <label for="categoria">{{par.descripcion}}</label>
        <p-dropdown [options]="par.etiqueta" [(ngModel)]="par.value" placeholder="Seleccione" styleClass="w-full p-inputtext-sm"></p-dropdown>
      </div>
    </div>
  </div>

  <div class="flex justify-content-end sm:px-4 lg:px-6">
    <button pButton label="Agregar" type="button" (click)="submit()"></button>
  </div>
</div>

