<div class="flex flex-col lg:flex-row bg-primary">
  <div class="w-full lg:w-2 bg-secondary p-4 flex flex-column justify-content-between">
    <div>
      <div class="bg-white px-4 py-3 mb-6 border-left-3 border-orange-600">
        <h1 class="font-bold dark m-0">Menú</h1>
      </div>

      <ul class="flex-grow">
        <li><a routerLink="productos" class="text-1xl block p-2 text-white hover:bg-secondary">
          <i class="ri-shopping-cart-line"></i> Productos</a></li>
        <li><a routerLink="categorias" class="text-1xl block p-2 text-white hover:bg-secondary">
          <i class="ri-layout-grid-fill"></i> Categorias</a></li>
        <li><a routerLink="servicios" class="text-1xl block p-2 text-white hover:bg-secondary">
          <i class="ri-hand-coin-line"></i> Servicios</a></li>
        <li><a routerLink="clientes" class="text-1xl block p-2 text-white hover:bg-secondary">
          <i class="ri-group-line"></i> Clientes</a></li>
        <li><a routerLink="proveedores" class="text-1xl block p-2 text-white hover:bg-secondary">
          <i class="ri-store-3-line"></i> Proveedores</a></li>
      </ul>
    </div>

    <img src="assets/images/logo.png" alt="Logo pequeño" class="mx-auto">
  </div>
  <div class="w-full lg:w-10 p-4">
    <div class="bg-white py-0 px-4 flex justify-content-between items-center shadow-lg border-round-md">
      <h1 class="dark">Dashboard</h1>
      <div class="flex items-center gap-3">
        <a routerLink="generar/FACTURA" class="text-gray-500 hover:text-gray-500 flex align-items-center gap-1">
          <i class="ri-bill-line text-2xl center-flex"></i> Facturas
        </a>
        <a routerLink="generar/PRESUPUESTO" class="text-gray-500 hover:text-gray-500 flex align-items-center gap-1">
          <i class="ri-money-dollar-circle-line text-2xl center-flex"></i> Presupuesto
        </a>
        <a routerLink="historial" class="text-gray-500 hover:text-gray-500 flex align-items-center gap-1">
          <i class="ri-time-line  text-2xl center-flex"></i> Historial
        </a>
        <a href="#" class="text-gray-950 hover:text-gray-500 flex align-items-center">
          <i class="ri-logout-box-r-line primary text-2xl center-flex"></i>
        </a>
      </div>
    </div>
    <div class="mt-4 p-4 overflow-auto" style="height: 90vh;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
