<div class="flex flex-col lg:flex-row h-screen bg-primary">
  <div class="w-full lg:w-1/5 bg-secondary p-4 flex flex-col justify-between">
    <div class="bg-white p-4 text-white text-2xl mb-6 border-l-8 border-orange-600">
      <h1 class="font-bold dark">Menú</h1>
    </div>

    <ul class="space-y-2 flex-grow">
      <li><a routerLink="productos" class="text-2xl block p-2 text-white hover:bg-secondary">
        <mat-icon class="text-gray-300 text-2xl inline-block mr-2">shopping_cart</mat-icon> Productos</a></li>
      <li><a routerLink="categorias" class="text-2xl block p-2 text-white hover:bg-secondary">
        <mat-icon class="text-gray-300 text-2xl inline-block mr-2">category</mat-icon> Categorias</a></li>
      <li><a routerLink="servicios" class="text-2xl block p-2 text-white hover:bg-secondary">
        <mat-icon class="text-gray-300 text-2xl inline-block mr-2">settings</mat-icon> Servicios</a></li>
      <li><a routerLink="clientes" class="text-2xl block p-2 text-white hover:bg-secondary">
        <mat-icon class="text-gray-300 text-2xl inline-block mr-2">person</mat-icon> Clientes</a></li>
      <li><a routerLink="proveedores" class="text-2xl block p-2 text-white hover:bg-secondary">
        <mat-icon class="text-gray-300 text-2xl inline-block mr-2">local_shipping</mat-icon> Proveedores</a></li>
    </ul>
    <img src="..//src/assets/images/logo.png" alt="Logo pequeño" class="w-1/2 mx-auto mb-4">
  </div>
  <div class="w-full lg:w-4/5 p-4">
    <div class="bg-white p-4 flex justify-between items-center shadow-lg rounded-md">
      <h1 class="text-dark text-2xl">Dashboard</h1>
      <div class="flex items-center space-x-4">
        <a href="#" class="text-gray-950 hover:text-gray-500 flex items-center">
          <mat-icon class="text-gray-300 text-2xl mr-2 self-center center-flex">receipt</mat-icon> Facturas
        </a>
        <a href="#" class="text-gray-950 hover:text-gray-500 flex items-center">
          <mat-icon class="text-gray-300 text-2xl mr-2 self-center center-flex">description</mat-icon> Presupuesto
        </a>
        <a href="#" class="text-gray-950 hover:text-gray-500 flex items-center">
          <mat-icon class="text-gray-300 text-2xl mr-2 self-center center-flex">history</mat-icon> Historial
        </a>
        <a href="#" class="text-gray-950 hover:text-gray-500 flex items-center">
          <mat-icon class="primary text-3xl mr-2 ml-14 self-center center-flex">exit_to_app</mat-icon>
        </a>
      </div>
    </div>
    <div class="mt-4 p-4 bg-white rounded-lg shadow-md">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
