<div class="overflow-auto">
  <div class="mx-auto max-w-7xl sm:px-4 lg:px-6">
    <p-progressBar mode="indeterminate" *ngIf="isLoading"></p-progressBar>
    <form (ngSubmit)="dataTransfer.editMode ? editar(): crear()" [formGroup]="form">

      <div class="formgrid grid mt-3">
        <div class="field col-12 md:col-6">
          <label for="nit" class="font-medium">NIT</label>
          <input id="nit" type="text" pInputText formControlName="nit" placeholder="Digite el NIT" class="w-full p-inputtext-sm" />
          <small *ngIf="validate('nit')" class="p-error">{{ check('nit') }}</small>
        </div>

        <div class="field col-12 md:col-6">
          <label for="nombre" class="font-medium">Nombre</label>
          <input id="nombre" type="text" pInputText formControlName="nombre" placeholder="Digite el nombre" class="w-full p-inputtext-sm" />
          <small *ngIf="validate('nombre')" class="p-error">{{ check('nombre') }}</small>
        </div>

        <div class="field col-12 md:col-6">
          <label for="encargado" class="font-medium">Encargado</label>
          <input id="encargado" type="text" pInputText formControlName="encargado" placeholder="Digite el encargado" class="w-full p-inputtext-sm" />
          <small *ngIf="validate('encargado')" class="p-error">{{ check('encargado') }}</small>
        </div>

        <div class="field col-12 md:col-6">
          <label for="telefono" class="font-medium">Teléfono</label>
          <input id="telefono" type="text" pInputText formControlName="telefono" placeholder="Digite el teléfono" class="w-full p-inputtext-sm" />
          <small *ngIf="validate('telefono')" class="p-error">{{ check('telefono') }}</small>
        </div>

        <div class="field col-12 md:col-6">
          <label for="correo" class="font-medium">Correo</label>
          <input id="correo" type="text" pInputText formControlName="correo" placeholder="Digite el correo" class="w-full p-inputtext-sm" />
          <small *ngIf="validate('correo')" class="p-error">{{ check('correo') }}</small>
        </div>

        <div class="field col-12 md:col-6">
          <label for="direccion" class="font-medium">Dirección</label>
          <input id="direccion" type="text" pInputText formControlName="direccion" placeholder="Digite la dirección" class="w-full p-inputtext-sm" />
          <small *ngIf="validate('direccion')" class="p-error">{{ check('direccion') }}</small>
        </div>

        <div class="field col-12 md:col-6">
          <label for="departamento" class="font-medium">Departamento</label>
          <p-dropdown [options]="comboDepartamento" formControlName="departamento" placeholder="Seleccione" styleClass="w-full p-inputtext-sm" (onChange)="cargaMunicipio()"></p-dropdown>
          <small *ngIf="validate('departamento')" class="p-error">{{ check('departamento') }}</small>
        </div>

        <div class="field col-12 md:col-6">
          <label for="municipio" class="font-medium">Municipio</label>
          <p-dropdown [options]="comboMunicipio" formControlName="municipio" placeholder="Seleccione" styleClass="w-full p-inputtext-sm"></p-dropdown>
          <small *ngIf="validate('municipio')" class="p-error">{{ check('municipio') }}</small>
        </div>

        <div class="field col-12 md:col-6">
          <label for="rubros" class="font-medium">Rubros</label>
          <input id="rubros" type="text" pInputText formControlName="rubros" placeholder="Digite los rubros" class="w-full p-inputtext-sm" />
          <small *ngIf="validate('rubros')" class="p-error">{{ check('rubros') }}</small>
        </div>

        <div class="field col-12 md:col-6">
          <label for="estado" class="font-medium">Estado</label>
          <p-dropdown [options]="comboEstados" formControlName="estado" placeholder="Seleccione" styleClass="w-full p-inputtext-sm"></p-dropdown>
          <small *ngIf="validate('estado')" class="p-error">{{ check('estado') }}</small>
        </div>

      </div>

      <div class="flex justify-content-end">
        <button pButton type="submit" label="{{dataTransfer.label}}" [disabled]="!this.form.valid || this.isLoading" icon="pi pi-save"></button>
      </div>
    </form>
  </div>
</div>
