<div class="overflow-auto">
  <div class="mx-auto max-w-7xl sm:px-4 lg:px-6">
    <form (ngSubmit)="dataTransfer.editMode ? editar(): crear()" [formGroup]="form">
      <div class="grid formgrid mt-3">
        <div class="field col-12">
          <label for="descripcion" class="font-medium">Descripción</label>
          <input id="descripcion" type="text" pInputText formControlName="descripcion" class="w-full p-inputtext-sm" />
        </div>
      </div>
      <div class="flex justify-content-end">
        <p-button type="submit" [disabled]="!this.form.valid || this.isLoading" [label]="dataTransfer.label"></p-button>
      </div>
    </form>
  </div>
</div>

