@import 'noty/lib/noty.css';
@import 'noty/lib/themes/nest.css';

/* PrimeNG */
@import "primeng/resources/primeng.css";
@import "/node_modules/primeflex/primeflex.css";
@import "primeicons/primeicons.css";

@import "primeng/resources/themes/lara-light-blue/theme.css";

/* Font */
@import url(https://fonts.bunny.net/css?family=inter:400,500,600,700);

/* Others */
@import "remixicon/fonts/remixicon.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  font-family: "Inter", sans-serif;
  /* color: var(--slate-700); */
}

a {
  cursor: pointer
}

.w-100{
  width: 100%;
}

.h-100{
  height: 100vh;
}


.primary{
  color: #EDF5F8 !important;
}
.secondary{
  color: #008833 !important;
}
.third{
  color: #FF5E14 !important;
}

.fourth{
  color: #0616A3 !important;
}



/* Fondos globales */
.bg-primary{
  background-color: #EDF5F8 !important;
}
.bg-secondary{
  background-color: #008833 !important;
}
.bg-third{
  background-color: #FF5E14 !important;
}

.bg-fourth{
  background-color: #0616A3 !important;
}

/* Botones globales */
.btn-primary{
  background-color: #008833 !important;
  border-color: #008833 !important;
  color: #fff !important;
}

.btn-white{
  background-color: #fff !important;
  border-color: #008833 !important;
  color: #008833 !important;
}

.btn-secondary{
  background-color: #FF5E14 !important;
  color: #FF5E14 !important;

}
.btn-third{
  background-color: #0616A3 !important;
  color: #fff !important;
}
.btn-danger{
  background-color: #af0d07 !important;
  color: #fff !important;
}

.btn-disabled{
  background-color: #4E5263 !important;
  color: #fff !important;
}

.btn-primary:hover{
  background-color: #026829  !important;
}
.btn-secondary:hover{
  background-color: #c74c12 !important;
}
.btn-third:hover{
  background-color: #0616A3 !important;
}
.btn-disables:hover{
  background-color: #4e5263d0  !important;
}
.btn-danger:hover{
  background-color: #7e0d09  !important;
}

.white{
  color: #fff !important;
}

.primary{
  font-weight: bold !important;
  color: #008833  !important;
}

.dark{
  color: #000 !important;
}

.mat-dialog-container {
  padding: 0px !important;
  overflow: hidden !important;
}

.btn{
  padding: 0.3rem;
  border-radius: 5px;
  cursor: pointer !important;
}
