@import 'noty/lib/noty.css';
@import 'noty/lib/themes/nest.css';

/* Layout */
@import "assets/layout/layout.css";


/* PrimeNG */
@import "primeng/resources/primeng.css";
@import "/node_modules/primeflex/primeflex.css";
@import "primeicons/primeicons.css";

/* theme */
@import "assets/layout/theme/aura-light/theme.css";

/* Font */
@import url(https://fonts.bunny.net/css?family=inter:400,500,600,700);

/* Others */
@import "remixicon/fonts/remixicon.css";
@import "assets/css/tailwindcss-colors.css";


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  font-family: "Inter", sans-serif;
  /* color: var(--slate-700); */
  color: #000000bb;
}

.card-custom {
  background: var(--surface-card);
  border: 1px solid var(--surface-border);
  border-radius: 10px;
  margin-bottom: 1rem;
}

.card-custom .card-header {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.card-custom .card-content {
  border-top: 1px solid;
  border-color: var(--surface-border);
}

.p-panel-header {
  padding: 0.75rem 2rem;
}

.p-panel-content {
  padding: 2rem 2rem;
}

.p-panel-footer {
  padding: 0.75rem 2rem;
}

.p-datatable .p-datatable-header {
  background: white;
}

.p-datatable .p-datatable-thead > tr > th {
  background: white;
}

.p-button.p-button-link.button-link-secondary {
  color: #475569;
}

p-dropdownitem li span,
.p-autocomplete-items li {
  text-wrap: wrap;
}

.table-badge {
  border-radius: var(--border-radius);
  padding: 0.25em 0.5rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.p-datatable .p-sortable-column:not(.p-highlight):hover {
  color: var(--everest-800);
}

.p-datatable .p-sortable-column.p-highlight {
  color: var(--everest-800);
}

.p-datatable .p-datatable-thead > tr > th {
  background: var(--slate-100);
}


.p-tabview-panels {
  padding: 0.5rem 0;
}

.p-datatable .p-datatable-header {
  border: 1px solid #e5e7eb;
  border-width: 0 0 1px 0;
  padding: 0rem 1rem 0.5rem 1rem;
}

.table-border-radius .p-datatable-thead > tr > th {
  border: 1px solid #e5e7eb;
  border-width: 1px 0 1px 0;
}

.table-border-radius .p-datatable-thead > tr > th:first-child {
  border-top-left-radius: 6px;
  border-width: 1px 0 1px 1px;
}

.table-border-radius .p-datatable-thead > tr > th:last-child {
  border-top-right-radius: 6px;
  border-width: 1px 1px 1px 0;
}

.table-border-radius .p-datatable-tbody > tr:last-child > td:first-child {
  border-bottom-left-radius: 6px;
}

.table-border-radius .p-datatable-tbody > tr:last-child > td:last-child {
  border-bottom-right-radius: 6px;
}

.table-border-radius .p-datatable-tbody > tr > td:first-child {
  border: 1px solid #e5e7eb;
  border-width: 0 0 1px 1px;
}

.table-border-radius .p-datatable-tbody > tr > td:last-child {
  border: 1px solid #e5e7eb;
  border-width: 0 1px 1px 0;
}

.p-datepicker-buttonbar {
  padding: 0.5rem 0 0;
}

.p-autocomplete input {
  width: 100%;
}

@media screen and (max-width: 769px) {
  .p-datepicker table th,
  .p-datepicker table td {
    padding: 0.25rem;
  }
}

.p-inputnumber input {
  width: 100%;
}

.max-w-40rem {
  max-width: 40rem !important;
}

.max-w-50rem {
  max-width: 50rem !important;
}

@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {
  .lg\:max-w-40rem {
      max-width: 40rem !important;
  }

  .lg\:max-w-50rem {
    max-width: 50rem !important;
  }
}

.field > label {
  font-weight: 500;
  color: var(--gray-900)
}

.p-datepicker-buttonbar span,
.p-datepicker .calendar-custom-btn span {
  font-weight: 600;
}

.p-toast-summary{
  color: var(--gray-900);
}

.p-toast-detail{
  margin: 0;
}

.p-toast-message-text{
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
  margin: 0 0 0 0.8rem;
}

.p-toast .p-toast-message{
  border-radius: 10px;
}

.p-toast .p-toast-message-content{
  align-items: center !important;
}

.skeleton-field{
  height: 33px !important;
}

.p-datatable-thead > tr > th,
.p-datatable-tbody > tr > td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-datatable-thead > tr > th,
.p-datatable-tbody > tr > td {
  min-width: auto;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Vazirmatn, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

.kbd {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  border-width: 1px;
  border-color: #fff;
  --tw-border-opacity: .2;
  --tw-bg-opacity: 1;
  background-color: #ffffff45;
  padding-left: .5rem;
  padding-right: .5rem;
  border-bottom-width: 2px;
  min-height: 2.2em;
  min-width: 2.2em;
}

.kbd-sm {
  padding-left: .25rem;
  padding-right: .25rem;
  font-size: .875rem;
  line-height: 1.25rem;
  min-height: 1.6em;
  min-width: 1.6em;
}

/* Evitar un overlay sobre puesto en un dialog */
.p-dialog-content .p-dialog-mask.p-component-overlay {
  background: none;
}


.cursor-help {
  cursor: help;
}

ul{
  padding: 0 !important;
}

li{
  list-style: none !important;
}

.primary{
  color: #EDF5F8 !important;
}
.secondary{
  color: #01451b !important;
}
.third{
  color: #FF5E14 !important;
}

.fourth{
  color: #0616A3 !important;
}



/* Fondos globales */
.bg-primary{
  background-color: #EDF5F8 !important;
}
.bg-secondary{
  background-color: #01451b !important;
}
.bg-third{
  background-color: #FF5E14 !important;
  border-color: #FF5E14 !important;
}

.bg-fourth{
  background-color: #0616A3 !important;
}

/* Botones globales */
.btn-primary{
  background-color: #01451b !important;
  border-color: #01451b !important;
  color: #fff !important;
}

.btn-white{
  background-color: #fff !important;
  border-color: #01451b !important;
  color: #01451b !important;
}

.btn-secondary{
  background-color: #FF5E14 !important;
  color: #FF5E14 !important;

}
.btn-third{
  background-color: #0616A3 !important;
  color: #fff !important;
}
.btn-danger{
  background-color: #af0d07 !important;
  color: #fff !important;
}

.btn-disabled{
  background-color: #4E5263 !important;
  color: #fff !important;
}

.btn-primary:hover{
  background-color: #026829  !important;
}
.btn-secondary:hover{
  background-color: #c74c12 !important;
}
.btn-third:hover{
  background-color: #0616A3 !important;
}
.btn-disables:hover{
  background-color: #4e5263d0  !important;
}
.btn-danger:hover{
  background-color: #7e0d09  !important;
}

.white{
  color: #fff !important;
}

.primary{
  font-weight: bold !important;
  color: #01451b  !important;
}
