<div class="overflow-auto">
  <div class="mx-auto max-w-7xl sm:px-4 lg:px-6">
    <p-progressBar class="my-2" mode="indeterminate" *ngIf="isLoading"></p-progressBar>
    <form (ngSubmit)="dataTransfer.editMode ? editar() : crear()" [formGroup]="form">
      <div>
        <label for="file-upload" class="custom-file-upload dropzone w-full">
          <i class="pi pi-upload"></i>Click o Arrastra tus imágenes aquí
        </label>
        <input
          id="file-upload"
          multiple
          #myInput
          class="custom-file-input dropzone w-full"
          type="file"
          accept=".jpg"
          name="filetoupload"
          placeholder="archivo"
          (change)="onFileSelect($event)"
        />
      </div>
      <div *ngIf="archivos.length >= 10">
        <h2>Ya alcanzó el límite de archivos</h2>
      </div>
      <br />
      <div [ngClass]="{ 'overflow-cards': archivos.length != 0 }">
        <div
          class="card my-3 p-3 justify-between flex-row single-file"
          *ngFor="let item of archivos"
        >
          <div class="flex items-center">{{ item.name }}</div>
          <div>
            <button
              type="button"
              class="btn btn-eliminar"
              aria-label="Close"
              (click)="remove(item)"
            >
              <i class="text-white">close</i>
            </button>
          </div>
        </div>
      </div>
      <div class="grid formgrid mt-3">
        <div class="col-12 field">
          <label for="descripcion">Nombre del producto</label>
          <input
            pInputText
            id="descripcion"
            name="descripcion"
            formControlName="descripcion"
            type="text"
            placeholder="Digite el nombre"
            class="w-full p-inputtext-sm"
          />
          <small severity="error" *ngIf="validate('descripcion')">
            {{ check('descripcion') }}
          </small>
        </div>
        <div class="col-12 field">
          <label for="categoriaId">Categoría</label>
          <p-dropdown
            [options]="categorias"
            formControlName="categoriaId"
            placeholder="Seleccione"
            optionLabel="descripcion"
            optionValue="id"
            styleClass="w-full"
          ></p-dropdown>
          <small>
            {{ check('categoriaId') }}
          </small>
        </div>
        <div class="col-12 field">
          <label for="observacion">Descripción</label>
          <span class="p-float-label">
            <textarea
              pInputTextarea
              id="observacion"
              rows="5"
              cols="30"
              name="observacion"
              formControlName="observacion"
              placeholder="Digite la descripción"
              class="w-full p-inputtext-sm"
            ></textarea>
            <label for="observacion">Descripción</label>
          </span>
          <small severity="error" *ngIf="validate('observacion')">
            {{ check('observacion') }}
          </small>
        </div>
      </div>

      <h1 class="third text-2xl">Asignar parámetros</h1>
      <div class="grid formgrid">
        <div class="col-10 field">
          <label for="parametro">Parámetro</label>
          <p-dropdown
            [options]="comboParametros"
            [(ngModel)]="parametroValor"
            placeholder="Seleccione"
            optionLabel="descripcion"
            [ngModelOptions]="{ standalone: true }"
            styleClass="w-full"
          ></p-dropdown>
        </div>
        <div class="col-2 align-content-center">
          <button
            pButton
            icon="pi pi-plus"
            type="button"
            (click)="add()"
            [disabled]="!parametroValor"
          ></button>
        </div>
      </div>

      <div class="grid formgrid" *ngFor="let par of parametros">
        <div class="col-10 field">
          <label for="nombre">Parámetro</label>
          <input
            pInputText
            id="nombre"
            name="nombre"
            [(ngModel)]="par.descripcion"
            [ngModelOptions]="{ standalone: true }"
            class="w-full p-inputtext-sm"
          />
        </div>
        <div class="col-2 align-content-center">
          <button
            pButton
            icon="pi pi-trash"
            type="button"
            (click)="deleteParametro(par)"
          ></button>
        </div>
        <hr class="border-dashed" />
      </div>

      <div class="flex justify-content-end">
        <button
          pButton
          label="{{ dataTransfer.label }}"
          type="submit"
          [disabled]="!form.valid || isLoading"
        ></button>
      </div>
    </form>
  </div>
</div>

